@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-bg-default: #f1f2f2;
  --color-text-default:#252b30;
 
}
@media (prefers-color-scheme: dark){
	:root{
		--color-bg-default: #252b30;
  --color-text-default:#f1f2f2;

	}
}

[data-theme='dark'] {
  --color-bg-default: #252b30;
  --color-text-default:#f1f2f2;
}
[data-theme='light'] {
  --color-bg-default: #f1f2f2;
  --color-text-default:#252b30;
}
body {
	background-color: var(--color-bg-default);
  color: var(--color-text-default);
}
